body {
    font-family: Comic Sans MS, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ff69b4;
    color: white;
    padding: 5px 0;
}
nav {
    margin: 5px 0; 
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px;
    border: 3px solid pink;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h1 {
    color: #ff69b4;
    margin-bottom: 10px;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 10px;
}
.profile img {
    border-radius: 50%;
    width: 180px; 
    height: 180px; 
    margin-right: 15px;
    border: 2px solid pink;
}
.info {
    text-align: left;
    flex: 1; 
    margin-right: 15px; 
}
.info p {
    margin: 5px 0;
    font-size: 16px;
}
.info strong {
    display: inline-block;
    width: 120px;
}
.map-container {
    width: 250px;
    height: 200px; 
    border: 2px solid pink; 
}
.fun-fact {
    font-style: italic;
    color: #ff69b4;
    margin-top: 15px;
}
.friends-section {
    margin-top: 30px;
    text-align: center;
}
.friends-section h2 {
    color: #ff4500;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}
.friends-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
}
.friend {
    background-color: #ffe4e1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}
.friend img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border: 2px solid pink;
}
.friend p {
    font-size: 16px;
    margin: 5px 0;
}
footer {
    margin-top: 20px;
    font-size: 10px;
    color: gray;
    text-align: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> a8f959ed9a2dd560c9909d5c2d75cd574b726d36
